.title {
  margin-top: 100px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
}

.banks {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  gap: 50px;
}

.bank {
  font-family: "Oswald", sans-serif;
  max-width: 500px;
  text-align: center;
  font-size: 22px;

  span {
    color: #f9bb00;
    font-size: 25px;
    font-weight: 600;
  }
}

.icon {
  padding: 0 15px;
  img {
    width: 150px;
  }
}
